h2 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

.post-detail {
  &.error {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
  }

  &.post-detail {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #393e49fa;
    border-radius: 8px;
    background-color: #393e49fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
      font-size: 24px;
      color: #fff;
      margin: 0;
    }

    p {
      font-size: 16px;
      color: #ccc;
      margin: 0;
    }

    img {
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      max-width: 100%;
      height: auto;
    }

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }

      &:nth-child(2) {
        background-color: #6c757d; /* Gray for the "Go Back" button */
        &:hover {
          background-color: #5a6268;
        }
      }
    }
  }
}
